  <div class="tables-wrapper">
    <mat-card class="chart">
        <mat-card-title class="chart__header">
            <h5 class="material-table__title">Filtros</h5>
          <button class="settings-button" mat-mini-fab [matMenuTriggerFor]="settings">
            <mat-icon class="settings-button__icon">more_vert</mat-icon>
          </button>
          <div class="settings-menu">
            <mat-menu #settings="matMenu" xPosition="before">
              <button class="settings-menu__item" (click)="download()" mat-menu-item>Download</button>
            </mat-menu>
          </div>
        </mat-card-title>

        <mat-card-content class="chart__content">
          <div #chart class="chart__content-item">
              <div>
                  <div class="example-container" style="float: left; margin-left:10px">
                      <mat-form-field hintLabel="exemplo: 00/00/0000" color="green" appearance="fill">
                      <mat-label>Data inicial</mat-label>
                      <input matInput #input name="dtInicial" mask="00/00/0000" [(ngModel)]="dtInicial" maxlength="10" placeholder="">
                      </mat-form-field>
                  </div>
                  <div class="example-container" style="float: left; margin-left:30px">
                      <mat-form-field hintLabel="" color="green" appearance="fill">
                      <mat-label>Data final</mat-label>
                      <input matInput #input name="dtFinal" mask="00/00/0000" [(ngModel)]="dtFinal" maxlength="10" placeholder="">
                      </mat-form-field>
                  </div>
                  <div class="example-container" style="float: left; margin-left:30px">
                      <mat-form-field hintLabel="" color="green" appearance="fill">
                      <mat-label>Número entrega</mat-label>
                      <input matInput #input name="numEntrega" mask="0*" [(ngModel)]="numEntrega" maxlength="10" placeholder="">
                      </mat-form-field>
                  </div>
                  <div style="float: left; margin-left:30px; padding-top: 10px;">
                      <button class="generate__button" (click)="generate()" mat-raised-button>Filtrar</button>
                  </div>
              </div>
          </div>
      </mat-card-content>
  </mat-card>

  <mat-card>
  <mat-toolbar class="barra-mat">
    <span>Arquivos Cadastrado</span>
  </mat-toolbar>
<mat-card-content class="employee-table__content">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th class="employee-table__table-checkbox" mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary"
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          ></mat-checkbox>
      </th>
      <td class="employee-table__table-checkbox" mat-cell *matCellDef="let row">
          <mat-checkbox color="primary"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
      </td>
  </ng-container>

  <ng-container matColumnDef="id_caixa">
    <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef>ID</th>
    <td class="employee-table__table-body" mat-cell *matCellDef="let element">{{element.id_caixa}}</td>
</ng-container>

  <!-- Periodo_ini Column -->
  <ng-container matColumnDef="periodo_ini">
    <th mat-header-cell *matHeaderCellDef> Inicio </th>
    <td mat-cell *matCellDef="let arquivo"> {{arquivo.periodo_ini }} </td>
  </ng-container>

  <!-- Periodo_fim Column -->
  <ng-container matColumnDef="periodo_fim">
    <th mat-header-cell *matHeaderCellDef> Fim </th>
    <td mat-cell *matCellDef="let arquivo"> {{arquivo.periodo_fim}} </td>
  </ng-container>

    <!-- filial Column -->
    <ng-container matColumnDef="filial">
      <th mat-header-cell *matHeaderCellDef> Filiais </th>
      <td mat-cell *matCellDef="let arquivo"> {{arquivo.filial}} </td>
    </ng-container>

  <!-- endereco Column -->
  <ng-container matColumnDef="endereco">
    <th mat-header-cell *matHeaderCellDef> Endereço </th>
    <td mat-cell *matCellDef="let arquivo"> {{arquivo.endereco}} </td>
  </ng-container>

  <!-- filiais Column -->
  <ng-container matColumnDef="filiais">
    <th mat-header-cell *matHeaderCellDef> Filiais </th>
    <td mat-cell *matCellDef="let arquivo"> {{arquivo.filiais}} </td>
  </ng-container>

  <!-- dec_01 Column -->
  <ng-container matColumnDef="doc_01">
    <th mat-header-cell *matHeaderCellDef> Doc 01 </th>
    <td mat-cell *matCellDef="let arquivo"> {{arquivo.doc_01}} </td>
  </ng-container>

  <!-- dec_02 Column -->
  <ng-container matColumnDef="doc_02">
    <th mat-header-cell *matHeaderCellDef> Doc 02 </th>
    <td mat-cell *matCellDef="let arquivo"> {{arquivo.doc_02}} </td>
  </ng-container>

  <!-- dec_03 Column -->
  <ng-container matColumnDef="doc_03">
    <th mat-header-cell *matHeaderCellDef> Doc 03 </th>
    <td mat-cell *matCellDef="let arquivo"> {{arquivo.doc_03}} </td>
  </ng-container>

  <ng-container matColumnDef="printed">
    <th class="employee-table__table-header" mat-header-cell *matHeaderCellDef>Impresso</th>
    <td class="employee-table__table-body" mat-cell *matCellDef="let element" [matTooltip]="printed(element)" >
        <mat-chip-list>
            <mat-chip class="printed-true" *ngIf="element.printed"></mat-chip>
            <mat-chip class="printed-false" *ngIf="!element.printed"></mat-chip>
        </mat-chip-list>
    </td>
</ng-container>

<ng-container matColumnDef="download">
    <th mat-header-cell  *matHeaderCellDef ></th>
    <td mat-cell *matCellDef="let row">
        <button class="employee-table-wrapper__button" mat-mini-fab (click)="downloadRow(row)">
            <mat-icon class="employee-table-wrapper__icon">save_alt</mat-icon>
        </button>
    </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-card-content>

  <mat-paginator
  [length]="totalElements"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [showFirstLastButtons]="true"
  (page)="pageChanged($event)" >
  </mat-paginator>

</mat-card>

<app-footer></app-footer>
